{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>List Kegiatan</title>
</head>

<body>

  <header>
    <div class="jumbotron"style = "background-color: #174643; margin-bottom: 0;">
      
        <div class="container" style="height: 400px;">
          <div class="row justify-content-center">
    <div class="col" style="text-align: center;">
      <h1 class="display-3" style="color: #D1F8F6; font-size: 8vw;">Hello, How Are You?</h1>
      <div>
        <form method="POST" class="post-form" action=""id="form1">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default"form="form1">Save</button>
      </form>
      </div>
     
    </div>
  </div>
          
        </div>
      </div>
  </header>
  <main style="background-color: rgb(179, 240, 237)">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible" role="alert" id="django-messages">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
    <div class="shortprof">
      <h5 style="align-content: center;padding-top: 1rem;text-align: center;">Mood History:</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>
            Hari
          </th>
          <th>
            Mood
          </th>
        </tr>
        {% for status in liststatus %}
        <tr>
          <td>
            {{status.created_time}}
          </td>
          <td>
            {{status.status}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </main>
</body>
</html>
